<div class="card bg-dark h-100 mx-auto">
    <div class="card-body all-cards d-flex justify-content-center align-items-center">
        <h5 class="card-title">
            <%= secret.length > 50 ? secret.slice(0,50) +' ...' : secret %>
        </h5>
    </div>
</div>