  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <i class="fas fa-key"></i>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/secrets" class="nav-link px-2 text-white">Secrets</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Donate</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search...">
        </form>

        
        <% if (!loggedIn) {%>
          <!-- If the user is not logged in -->
          <div class="text-end">
            <a class="btn btn-outline-light me-2" href="/login" role="button">Login</a>
            <a class="btn btn-warning" href="/register" role="button">Sign-up</a>
          </div>
        <%} else {%>
        <!-- If the user is logged in -->
        <div class="dropdown text-end">
          <a href="#" class="d-block text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/007/691/078/small/alien-face-tee-stump-humanoid-martian-head-print-futuristic-space-invader-paranormal-fantasy-cartoon-emblem-illustration-vector.jpg" alt="mdo" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" >
            <li><a class="dropdown-item" href="/submit">New secret...</a></li>
            <li><a class="dropdown-item" href="/my-secrets">My Secrets</a></li>
            <li><a class="dropdown-item" href="/my-profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>
    <%}%>

      </div>
    </div>
  </header>