<%- include('partials/header') %>
<%- include('navbar', {loggedIn:loggedIn}) %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">These are all people's secrets:</h1>

    <%users.forEach((user)=>{%>
      <%user.secrets.forEach((secret)=>{%>
        <p class="secret-text text-capitalize"><%=secret%></p>
      <%})%>
    <%})%>

    <hr>
    
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
